#Button{
    background-color: var(--primary);
    color:var(--background);
    width:15vw;
    height:5vh;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}
#Button:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px var(--primary);
}