.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2vh;
}
.symbol{
    height: 5vh;
}
.title{
    height: 3vh;
}
.profileIcon{
    scale: 2;
    margin-right: 3vw;
}
.profileIcon:hover{
    scale: 2.2;
    cursor: pointer;
}