.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2vh;
}
.symbol{
    height: 5vh;
}
.title{
    height: 3vh;
}
.profileIcon{
    scale: 2;
    margin-right: 1vw; 
}
.profile{
    margin-right: 2vw;
}
.profile:hover{
    scale: 1.2;
    cursor: pointer;
}
.arrow{
    margin-left:-0.5vw;
}