.StatusBadge {
    position: absolute;
    top: 10px;
    right: 15px;

    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.9vw;
    font-weight: 600;
}

.outpassActionButtons {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1vh;
    padding-right: 2vw;
}

.outpassActionButtons button {
    grid-column: 1 / span 2;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.qrWrapper {
  grid-column: 1 / -1;     
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 20px;
}

.FormRowHorizontal {
  grid-column: 1 / -1;   /* 🔥 make it span full grid */
  display: flex;
  gap: 16vw;
}

.verifyStatus {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20px;
}

/* Icon circle */
.statusIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 40px;
  color: white;
  animation: pop 0.4s ease;
}

/* Success */
.success .statusIcon {
  background: #2ecc71;
}

.success h2 {
  color: #2ecc71;
}

/* Error */
.error .statusIcon {
  background: #e74c3c;
}

.error h2 {
  color: #e74c3c;
}

/* Animation */
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}