@import "./styles/colors.css";
body{
    font-family: 'Inter',sans-serif;
    background-color: "#F1F5F9";
    color:"#1E293B";
}
:root{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--text);
}
